.vkui__root.vkui__root {
  --font-common: -apple-system,
    BlinkMacSystemFont,
    'Product Sans',
    'Google Sans',
    'Noto Sans',
    'Open Sans',
    system-ui,
    Roboto,
    RobotoDraft,
    'Helvetica Neue',
    Geneva,
    'Segoe Pro',
    'Segoe UI',
    sans-serif;
  --font-display: var(--font-common);
  --font-tt: var(--font-common);
  font-family: var(--font-common);
}

.vkuiAppRoot {
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: var(--background_content);
}

.vkuiFormField:not(.vkuiFormField--disabled) .vkuiFormField__border--hover {
  background-color: var(--field_background);
}

.vkuiFormField {
  border-radius: 4px;
}
