.vkuiAppRoot {
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: var(--background_content);
}

.vkuiFormField:not(.vkuiFormField--disabled) .vkuiFormField__border--hover {
  background-color: var(--field_background);
}

.vkuiFormField {
  border-radius: 4px;
}
