.name {
  color: var(--text_primary);
  font-weight: 500;
}

.version {
  color: var(--text_secondary);
  font-size: 0.8em;
}

.option {
  display: flex;
  align-items: center;
  gap: 4px;
}

.search {
  text-align: left;
}

.search :global(.vkuiSelect__container),
.search :global(.vkuiInput) {
  font-size: 16px;
}
