.name {
  color: var(--text_primary);
  font-weight: 500;
}

.version {
  color: var(--text_secondary);
  font-size: 0.8em;
}

.option :global(.vkuiSimpleCell__children) {
  display: flex;
  align-items: center;
  gap: 4px;
}
